@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

.cuerpo {    
    margin: 0;
}

.contenedor {
    font-family: 'Cinzel', serif;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    padding: 0;
    margin: 0;
}

.elemento {    
    font-size: 20px;
    color: #E0AA3E;
    background-color: black;
    text-align: center;
    text-decoration: none;
    flex: 1;    
    border: 1px solid #E0AA3E;
    padding: 20px;
    margin: 0;
    transition: 0.3s all ease-in-out;
}


a.elemento.active {
    background-color: goldenrod;    
    color: white;
}
