@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Cinzel', serif;    
    color: #E0AA3E;
}

body {
    background-image: url('../img/baja.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 80px;
}

div {
    text-align: center;
    margin-top: 23%;
    background-color: rgba(0, 0, 0, 0.8);
}